---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css"
const pageTitle = "About me"
const identity = {
    firstName: "Jakob",
    country: "Sweden",
    occupation: "Student",
    hobbies: ["Gaming","Coding","Football"]
}
const skills = ["Java", "Python", "Flutter/Dart", "SQL"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase"
---

<BaseLayout pageTitle = {pageTitle}>
    <p>I'm Jakob, 20 years old and I study "Software Technology" in Växjö, Sweden.</p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I am a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <style define:vars={{skillColor, fontWeight, textCase}}>
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
</BaseLayout>
